<h3><%= @league.title %></h3>

<p>League Owner: <%= @league.user.name %></p>

<% if current_user != @league.user %>

  <p><%= link_to 'Join League', league_membership_requests_path(@league), method: :post %></p>

<% else %>

  <h5><%= link_to 'Edit Your League', edit_league_path(@league) %></h5>
  <h5><%= link_to 'Delete League', league_path(@league), method: :delete %></h5>

  <% @requests.each do |request| %>
    <p><%= request.user.username %></p>
    <p><%= link_to 'Approve Request', league_memberships_path(request.user_id), method: :post %></p>
  <% end %>

<% end %>

<p>Description:</p>
<p><%= @league.description %></p>

<% @members.each do |member| %>
  <p><%= member.user.name %></p>
  <% if current_user == member.user %>
    <p><%= link_to 'Leave League', league_membership_path(@league, member), method: :delete %></p>
  <% end %>
<% end %>
